.html-content{
    // position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    margin: -1.5rem;
    margin-top: -21rem;
    margin-bottom: 15vh;

    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.4rem;
    line-height: 1.7rem;

    background-color: white;

    h6{
        margin: 1.5rem;
        font-size: 1rem;
        margin-top: -17.5vh;
        margin-bottom: 15vh;
    }

    ul{
        display: grid;
        grid-auto-flow: column;
        grid-auto-columns: 1fr;
        grid-template-columns: repeat(auto-fit, auto);
        gap: 0.25rem;

        margin: 1.5rem;
        margin-bottom: 15vh;
        margin-top: 15vh;

        li{        
            // width: 10%;
            p{
                width: 100%;
                margin: 0;
                font-size: 1rem;
                line-height: 1.2rem;
                font-family: 'Magister';

            }
    
            img{
                width: 100%;
                object-fit: contain;
                margin: 0;
            }
    
            h6{
                margin: 1.5rem;
                font-size: 1rem;
                margin: 0;
                margin-top: -0.5rem;
                
            }

            em{
                font-size: 0.7rem;
                line-height: 0.7rem;
                margin-top: -0.5rem;
                margin-left: 4rem;

            }
            margin-bottom: 15vh;
        }
    }


    
    p { 
        width: 66%;
        margin: 1.5rem;
        white-space:break-spaces;

        img{
            width: 100vw;
            margin: -1.5rem;
            margin-bottom: 15vh;
            margin-top: 15vh;
        };
    }

    a{
        color: transparent;
        opacity: 0.5;
        text-shadow: rgb(0, 0, 0) 0px 0 3px;
    }

}