.projectlist {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.4rem;
    width: 100%;

    position: absolute;

    li {
        margin-bottom: 2rem;
        overflow: hidden;

        a {
            display: flex;
            gap: 0rem 1rem;

            h3 {
                font-size: 0.7rem;
            }

            h1,
            h3 {
                color: white;
                mix-blend-mode: difference;
            }
        }

        .image-contaner {
            mix-blend-mode: normal;

            object-fit: contain;
            position: absolute;
            top: 0;
            height: 100vh;

            display: flex;
            justify-content: center;
            align-items: center;

            pointer-events: none;
            overflow: hidden;

        }
    }

    a:hover {
        z-index: 11;
        color: white;

        h1,
        h3 {
            width: fit-content;
            z-index: 11;
            color: white;
        }
    }
}

.tags {
    display: flex;
    width: 100%;
    justify-content: space-between;
    margin: 2rem 0rem;
    // gap: 1rem;

    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.4rem;
    transition: all 0.5s ease;

    * {
        color: white;
        mix-blend-mode: difference;
    }
}

.inactiveTag {
    color: transparent;
    opacity: 0.6;
    text-shadow: rgb(255, 255, 255) 0px 0 3px;
    mix-blend-mode: difference;

    // text-shadow: rgb(0, 0, 0) 0px 0 3px;
    transition: all 0.5s ease;
    z-index: 0;
    
    h1,
    h3 {
        color: transparent;
        opacity: 0.6;
        z-index: 0;
    }

    .image-contaner {
        filter: blur(10px);
        z-index: 10;
    }

    * {
        color: transparent;
        mix-blend-mode: difference;
    }
}

.hidden-tag{
    opacity: 0;
}

@media screen and (min-width: 720px) {
    .projectlist {
        display: flex;
        flex-wrap: wrap;


        li {
            width: 50%;

            a {
                width: fit-content;
            }
        }

    }

}