.layout {
    width: calc(100vw - 0rem);
    overflow: hidden;

    font-family: 'Magister';

    .nav{
        // position: sticky;
        // top: 10vh;

        width: calc(100vw - 3rem);
        padding: 1.5rem;
        transition: all 0.5s ease;
        z-index: 30;
        // backdrop-filter: blur(10px);
        // max-height: max-content;
        // height: 100%;
        // mix-blend-mode: difference;
    }

    .nav-bar{
        backdrop-filter: blur(10px);
        mix-blend-mode: difference;
    }
    
    .nav-bar,
    .footer {
        display: flex;
        justify-content: space-between;
        
        
        h1,
        h2, a, .menu-button, button {
            color: white;
        }

        .contact {
            width: 75vw;
            display: flex;
            flex-wrap: wrap;
            gap: 0rem 2rem;
        }

        .nav-links {
            display: flex;
            gap: 0rem 2rem;
        }

        .nav-links-footer {
            // width: 25vw;
            display: flex;
            flex-wrap: wrap;
            justify-content: flex-end;
            align-items: flex-start;
            gap: 0rem 2rem;

            // gap: 2rem;
        }

        .mail {
            margin-left: 0rem;
        }
    }

    .nav-bar-fill-space {
        height: 3vh;
    }
}

@media screen and (min-width: 720px) {

    .logo {
        display: flex;
        gap: 4rem;
    }

    .nav-bar-fill-space {
        height: 0vh;
    }

    .nav-bar,
    .footer {
        .contact{
            .mail {
                margin-left: 4rem;
            }
        }
    }
}