.layout {
    // z-index: 100;
    width: calc(100vw - 3rem);
    // height: calc(100vh - 13rem);
    padding: 1.5rem;
    overflow: hidden;

    font-family: 'Magister';

    .nav-bar {
        // position: fixed;
        width: calc(100vw - 3rem);
    }

    .nav-bar,
    .footer {
        // width: 100%;
        display: flex;
        justify-content: space-between;

        mix-blend-mode: difference;

        h1,
        h2 {
            color: white;
        }

        .contact {
            width: 75vw;
            display: flex;
            flex-wrap: wrap;
            gap: 0rem 2rem;
        }

        .nav-links {
            display: flex;
            gap: 0rem 2rem;
        }

        .nav-links-footer {
            // width: 25vw;
            display: flex;
            flex-wrap: wrap;
            justify-content: flex-end;
            align-items: flex-start;
            gap: 0rem 2rem;

            // gap: 2rem;
        }

        .mail {
            margin-left: 0rem;
        }

        a {
            color: white;
        }
    }

    .nav-bar-fill-space {
        height: 3vh;
    }
}

@media screen and (min-width: 720px) {

    .logo {
        display: flex;
        gap: 4rem;
    }

    .nav-bar-fill-space {
        height: 0vh;
    }

    .nav-bar,
    .footer {
        .contact{
            .mail {
                margin-left: 4rem;
            }
        }
    }
}