.layout{
    width: 100vw;
    padding: 0.7rem;
    overflow: hidden;

    .nav-bar{
        width: 100%;
        display: flex;
        justify-content: space-between;

        .nav-links{
            display: flex;
            gap: 2rem;
        }
    }
}